In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
tabela21 = pd.read_excel('dados/Dados_EB.xls', sheet_name='Tabela 2.1')
#CDBrasil = pd.read_excel('dados/Dados_EB.xls', sheet_name='CD-Brasil', converters={'Unnamed: 2': typecast_float, 'Unnamed: 3': typecast_float}) 
#CDMunicipios = pd.read_excel('dados/Dados_EB.xls', sheet_name='CD-Municipios')

In [3]:
tabela21.rename(columns=tabela21.iloc[0],inplace=True)
tabela21.drop(tabela21.index[0], inplace=True)
tabela21 = tabela21.reset_index(drop=True)

### 1. Usando os dados da Tabela 2.1, Capítulo 2:

- (a) Construa a distribuição de freqüência conjunta para as variáveis grau de instrução e região de procedência.

In [4]:
pd.crosstab(tabela21['Grau de Instrução'], tabela21['Região de Procedência'], margins=True)

Região de Procedência  capital  interior  outra  All
Grau de Instrução
ensino fundamental           4         3      5   12
ensino médio                 5         7      6   18
superior                     2         2      2    6
All                         11        12     13   36

- (b) Qual a porcentagem de funcionários que têm o ensino médio?

In [5]:
pd.crosstab(tabela21['Grau de Instrução'], tabela21['Região de Procedência'], margins=True) / 36 * 100

#50%

Região de Procedência    capital   interior      outra         All
Grau de Instrução
ensino fundamental     11.111111   8.333333  13.888889   33.333333
ensino médio           13.888889  19.444444  16.666667   50.000000
superior                5.555556   5.555556   5.555556   16.666667
All                    30.555556  33.333333  36.111111  100.000000

- (c) Qual a porcentagem daqueles que têm o ensino médio e são do interior?

In [6]:
pd.crosstab(tabela21['Grau de Instrução'], tabela21['Região de Procedência'], margins=True) / 36 * 100

#19,44%

Região de Procedência    capital   interior      outra         All
Grau de Instrução
ensino fundamental     11.111111   8.333333  13.888889   33.333333
ensino médio           13.888889  19.444444  16.666667   50.000000
superior                5.555556   5.555556   5.555556   16.666667
All                    30.555556  33.333333  36.111111  100.000000

- (d) Dentre os funcionários do interior, quantos por cento têm o ensino médio?

In [7]:
pd.crosstab(tabela21['Grau de Instrução'], tabela21['Região de Procedência'], margins=True) / 12 * 100

#58,33%

Região de Procedência    capital    interior       outra    All
Grau de Instrução
ensino fundamental     33.333333   25.000000   41.666667  100.0
ensino médio           41.666667   58.333333   50.000000  150.0
superior               16.666667   16.666667   16.666667   50.0
All                    91.666667  100.000000  108.333333  300.0

### 2. No problema anterior, sorteando um funcionário ao acaso entre os 36:

- (a) Qual será provavelmente o seu grau de instrução?

In [8]:
pd.crosstab(tabela21['Grau de Instrução'], tabela21['Região de Procedência'], margins=True) / 36 * 100

#Ensino Médio

Região de Procedência    capital   interior      outra         All
Grau de Instrução
ensino fundamental     11.111111   8.333333  13.888889   33.333333
ensino médio           13.888889  19.444444  16.666667   50.000000
superior                5.555556   5.555556   5.555556   16.666667
All                    30.555556  33.333333  36.111111  100.000000

- (b) E sua região de procedência?

In [9]:
pd.crosstab(tabela21['Grau de Instrução'], tabela21['Região de Procedência'], margins=True) / 36 * 100

#Ensino Médio

Região de Procedência    capital   interior      outra         All
Grau de Instrução
ensino fundamental     11.111111   8.333333  13.888889   33.333333
ensino médio           13.888889  19.444444  16.666667   50.000000
superior                5.555556   5.555556   5.555556   16.666667
All                    30.555556  33.333333  36.111111  100.000000

- (c) Qual a probabilidade do sorteado ter nível superior?

In [10]:
pd.crosstab(tabela21['Grau de Instrução'], tabela21['Região de Procedência'], margins=True) / 36 * 100

#1,6 de 10

Região de Procedência    capital   interior      outra         All
Grau de Instrução
ensino fundamental     11.111111   8.333333  13.888889   33.333333
ensino médio           13.888889  19.444444  16.666667   50.000000
superior                5.555556   5.555556   5.555556   16.666667
All                    30.555556  33.333333  36.111111  100.000000

- (d) Sabendo que o sorteado é do interior, qual a probabilidade de ele possuir nível superior?

In [11]:
pd.crosstab(tabela21['Grau de Instrução'], tabela21['Região de Procedência'], margins=True) / 12 *100

#1.6 de 10

Região de Procedência    capital    interior       outra    All
Grau de Instrução
ensino fundamental     33.333333   25.000000   41.666667  100.0
ensino médio           41.666667   58.333333   50.000000  150.0
superior               16.666667   16.666667   16.666667   50.0
All                    91.666667  100.000000  108.333333  300.0

- (e) Sabendo que o escolhido é da capital, qual a probabilidade de ele possuir nível superior?

In [12]:
pd.crosstab(tabela21['Grau de Instrução'], tabela21['Região de Procedência'], margins=True) / 11 *100

#1.8 de 10

Região de Procedência     capital    interior       outra         All
Grau de Instrução
ensino fundamental      36.363636   27.272727   45.454545  109.090909
ensino médio            45.454545   63.636364   54.545455  163.636364
superior                18.181818   18.181818   18.181818   54.545455
All                    100.000000  109.090909  118.181818  327.272727

### 3. Numa pesquisa sobre rotatividade de mão-de-obra, para uma amostra de 40 pessoas foram observadas duas variáveis: número de empregos nos últimos dois anos (X) e salário mais recente, em número de salários mínimos (Y). Os resultados foram:

In [13]:
individuo = pd.Series(range(1, 41))
X = [1,3,2,3,2,2,3,1,2,3,2,3,1,2,3,4,1,2,2,2,2,3,4,1,2,3,4,1,4,3,2,1,4,2,4,3,1,3,2,2]
Y = [6,2,4,1,4,1,3,5,2,2,5,2,6,6,2,2,5,5,1,1,4,2,1,5,4,2,1,5,4,3,2,1,1,6,2,1,4,2,3,5]
pesquisa = pd.DataFrame({'Indivíduo': individuo, 'X': X, 'Y': Y})

- (a) Usando a mediana, classifique os indivíduos em dois níveis, alto e baixo, para cada uma das variáveis, e construa a distribuição de freqüências conjunta das duas classificações.

In [14]:
medianaX = np.median(pesquisa['X'])
medianaY = np.median(pesquisa['Y'])

In [15]:
pesquisa['Rotatividade'] = np.where(pesquisa['X'] > medianaX, 'Alta', 'Baixa')
pesquisa['Renda'] = np.where(pesquisa['Y'] > medianaY, 'Alta', 'Baixa')

In [16]:
np.median(pesquisa['X'])
np.median(pesquisa['Y'])

2.5

In [17]:
pd.crosstab(pesquisa['Rotatividade'], pesquisa['Renda'], margins=True)

Renda         Alta  Baixa  All
Rotatividade
Alta             3     14   17
Baixa           17      6   23
All             20     20   40

- (b) Qual a porcentagem das pessoas com baixa rotatividade e ganhando pouco?

In [18]:
pd.crosstab(pesquisa['Rotatividade'], pesquisa['Renda'], margins=True) / 40 * 100
#15%

Renda         Alta  Baixa    All
Rotatividade
Alta           7.5   35.0   42.5
Baixa         42.5   15.0   57.5
All           50.0   50.0  100.0

- (c) Qual a porcentagem das pessoas que ganham pouco?

In [19]:
pd.crosstab(pesquisa['Rotatividade'], pesquisa['Renda'], margins=True) / 40 * 100
#50%

Renda         Alta  Baixa    All
Rotatividade
Alta           7.5   35.0   42.5
Baixa         42.5   15.0   57.5
All           50.0   50.0  100.0

- (d) Entre as pessoas com baixa rotatividade, qual a porcentagem das que ganham pouco?

In [20]:
pd.crosstab(pesquisa['Rotatividade'], pesquisa['Renda'], margins=True) / 23 * 100

#26%

Renda              Alta      Baixa         All
Rotatividade
Alta          13.043478  60.869565   73.913043
Baixa         73.913043  26.086957  100.000000
All           86.956522  86.956522  173.913043

- (e) A informação adicional dada em (d) mudou muito a porcentagem observada em (c)? O que isso significa?

In [21]:
#Sim. Analisando analisando apenas a rotativadade, percebe-se que ela é um fator comum em pessoas com alta renda

#### 4. Usando os dados do Problema 1, responda:

- (a) Qual a distribuição das proporções do grau de educação segundo cada uma das regiões de procedência?

In [22]:
pd.crosstab(tabela21['Região de Procedência'], tabela21['Grau de Instrução'], margins=True) / 36 * 100

#capital: 11,11%, 13,88% e 5. Interior: 8,33%, 19,44% e 5,55%. Outra: 13,88%, 16,66% e 5,55%

Grau de Instrução      ensino fundamental  ensino médio   superior         All
Região de Procedência
capital                         11.111111     13.888889   5.555556   30.555556
interior                         8.333333     19.444444   5.555556   33.333333
outra                           13.888889     16.666667   5.555556   36.111111
All                             33.333333     50.000000  16.666667  100.000000

- (b) Baseado no resultado anterior e no Problema 2, você diria que existe dependência entre a região de procedência e o nível de educação do funcionário?

In [23]:
#Não. Embora o percentual seja um pouco mais alto no EM para que vem do interior, a diferença não é significativa

### 5. Usando o Problema 3, verifique se há relações entre as variáveis rotatividade e salário.

In [24]:
pd.crosstab(pesquisa['Rotatividade'], pesquisa['Renda'], margins=True) / 40 * 100
#Sim. Possui relação inversa

Renda         Alta  Baixa    All
Rotatividade
Alta           7.5   35.0   42.5
Baixa         42.5   15.0   57.5
All           50.0   50.0  100.0

### 6. Uma companhia de seguros analisou a freqüência com que 2.000 segurados (1.000 homens e 1.000 mulheres) usaram o hospital. Os resultados foram:

In [25]:
seguro = pd.DataFrame({'Homens':[100, 900], 'Mulheres':[150, 850]}, index=['Usou', 'Não Usou'])

- (a) Calcule a proporção de homens entre os indivíduos que usaram o hospital.

In [26]:
seguro / 2000 * 100

#5%

          Homens  Mulheres
Usou         5.0       7.5
Não Usou    45.0      42.5

- (b) Calcule a proporção de homens entre os indivíduos que não usaram o hospital.

In [27]:
seguro / (900 + 850) * 100

#51,42%

             Homens   Mulheres
Usou       5.714286   8.571429
Não Usou  51.428571  48.571429

- (c) O uso do hospital independe do sexo do segurado?

In [28]:
seguro / 250 * 100

#Parece que mulheres usam mais entre as pessoas que usam hospital.

          Homens  Mulheres
Usou        40.0      60.0
Não Usou   360.0     340.0

### 7. Usando os dados do Problema 1, calcule o valor de χ² e o coeficiente de contingência C. Esses valores estão de acordo com as conclusões obtidas anteriormente?

In [95]:
dfc_educ_reg = pd.crosstab(tabela21['Grau de Instrução'], tabela21['Região de Procedência'])

In [103]:
ve_rel_capital = dfc_educ_reg['capital'].sum() / dfc_educ_reg.sum().sum()
ve_rel_interior = dfc_educ_reg['interior'].sum() / dfc_educ_reg.sum().sum()
ve_rel_outra = dfc_educ_reg['outra'].sum() / dfc_educ_reg.sum().sum()

In [106]:
ve_rel_capital

0.3055555555555556

In [82]:
dfc_educ_reg_esperado = dfc_educ_reg

In [42]:
pd.crosstab(tabela21['Grau de Instrução'], tabela21['Região de Procedência'], margins=True, margins_name='Total') / 36

Região de Procedência   capital  interior     outra     Total
Grau de Instrução
ensino fundamental     0.111111  0.083333  0.138889  0.333333
ensino médio           0.138889  0.194444  0.166667  0.500000
superior               0.055556  0.055556  0.055556  0.166667
Total                  0.305556  0.333333  0.361111  1.000000

In [78]:
dfc_educ_reg_esperado['capital'] = dfc_educ_reg_esperado['capital'] * 0.305556	
dfc_educ_reg_esperado['interior'] = dfc_educ_reg_esperado['interior'] * 0.333333
dfc_educ_reg_esperado['outra'] = dfc_educ_reg_esperado['outra'] * 0.361111

In [80]:
round(dfc_educ_reg_esperado)

Região de Procedência  capital  interior  outra  Total
Grau de Instrução
ensino fundamental         1.0       1.0    2.0     12
ensino médio               2.0       2.0    2.0     18
superior                   1.0       1.0    1.0      6
Total                      3.0       4.0    5.0     36

In [62]:
dfc_educ_reg['capital'] = (dfc_educ_reg['capital'] - ve_capital)**2 / ve_capital
dfc_educ_reg['interior'] = (dfc_educ_reg['interior'] - ve_interior)**2 / ve_interior
dfc_educ_reg['outra'] = (dfc_educ_reg['outra'] - ve_outra)**2 / ve_outra

In [66]:
dfc_educ_reg

Região de Procedência   capital  interior     outra  Total
Grau de Instrução
ensino fundamental     4.454545  6.750000  4.923077     12
ensino médio           3.272727  2.083333  3.769231     18
superior               7.363636  8.333333  9.307692      6
Total                  0.000000  0.000000  0.000000     36

In [64]:
#X²
sum(dfc_educ_reg['capital'].values + dfc_educ_reg['interior'].values + dfc_educ_reg['outra'].values)

50.25757575757576

### 8. Qual o valor de χ² e de C para os dados do Problema 3? E para o Problema 6? Calcule T.

### 9. A Companhia A de dedetização afirma que o processo por ela utilizado garante um efeito mais prolongado do que aquele obtido por seus concorrentes mais diretos. Uma amostra de vários ambientes dedetizados foi colhida e anotou-se a duração do efeito de dedetização. Os resultados estão na tabela abaixo. Você acha que existe alguma evidência a favor ou contra a afirmação feita pela Companhia A?