### Capítulo 2

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

#### 2. Usando os dados da Tabela 2.1, construa a distribuição de freqüências das variáveis:
(a) Estado civil.
(b) Região de procedência.
(c) Número de filhos dos empregados casados.
(d) Idade.

In [2]:
tabela21 = pd.read_excel('dados/Dados_EB.xls', sheet_name='Tabela 2.1')

In [17]:
tabela21.head()

,N,Estado Civil,Grau de Instrução,N de Filhos,Salario (x Sal Min),Anos,Meses,Região de Procedência
1,1,solteiro,ensino fundamental,0,4.00,26,3,interior
2,2,casado,ensino fundamental,1,4.56,32,10,capital
3,3,casado,ensino fundamental,2,5.25,36,5,capital
4,4,solteiro,ensino médio,0,5.73,20,10,outra
5,5,solteiro,ensino fundamental,0,6.26,40,7,outra

In [10]:
def tabela_frequencia(tabela, coluna): 
    '''
    Função que gera tabela de distribuição de frequências para a coluna de uma tabela desejada.
    '''
    freq_abs = tabela[f'{coluna}'].value_counts()
    freq_rel = tabela[f'{coluna}'].value_counts(normalize=True)*100
    dist_freq = pd.DataFrame({'Frequência Absoluta': freq_abs, 'Frequência Relativa': round(freq_rel,2)})
    return dist_freq

In [14]:
tabela_frequencia(tabela21, 'Região de Procedência')

          Frequência Absoluta  Frequência Relativa
outra                      13                36.11
interior                   12                33.33
capital                    11                30.56

##### Estado Civil

In [15]:
tabela_frequencia(tabela21, 'Estado Civil')

          Frequência Absoluta  Frequência Relativa
casado                     20                55.56
solteiro                   16                44.44

##### Região de Procedência

In [ ]:
tabela_frequencia(tabela21, 'Região de Procedência')

          Frequência Absoluta  Frequência Relativa
outra                      13                36.11
interior                   12                33.33
capital                    11                30.56

##### Número de filho dos empregados

In [22]:
print(tabela21['N de Filhos'].min())
print(tabela21['N de Filhos'].max())

0
5

In [23]:
classes = [0, 2, 4, 5]

In [24]:
labels = ['0 a 2', '3 a 4', '5 ou mais']

In [31]:
frqeuencia = pd.value_counts(pd.cut(x=tabela21['N de Filhos'], bins=classes, labels=labels, include_lowest=True))
percentual = pd.value_counts(pd.cut(x = tabela21['N de Filhos'],bins = classes, labels = labels,include_lowest = True), normalize = True)*100
percentual

# terminar a tabela de frequencia para valores quantitativos e inserir na função
# função de deve criar tabela conforme tipo da coluna
# lembrando que pode existir qualitavas ordenadinais
# criar argumento ordinal (sim ou não) para identificar e tabel apropriada

0 a 2        88.888889
3 a 4         8.333333
5 ou mais     2.777778
Name: N de Filhos, dtype: float64