### Capítulo 2

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
def typecast_float(value):
    try:
        return float(value.replace(',', ''))
    except:
        return value

In [262]:
tabela21 = pd.read_excel('dados/Dados_EB.xls', sheet_name='Tabela 2.1')
CDBrasil = pd.read_excel('dados/Dados_EB.xls', sheet_name='CD-Brasil') #converters={'Unnamed: 2': typecast_float, 'Unnamed: 3': typecast_float}

In [261]:
def tabela_frequencia(tabela, coluna): 
    '''
    Função que gera tabela de distribuição de frequências para a coluna de uma tabela desejada.
    '''
    freq_abs = tabela[f'{coluna}'].value_counts()
    freq_rel = tabela[f'{coluna}'].value_counts(normalize=True)*100
    dist_freq = pd.DataFrame({'Frequência Absoluta': freq_abs, 'Frequência Relativa': round(freq_rel,2)})
    return dist_freq

#### 2. Usando os dados da Tabela 2.1, construa a distribuição de freqüências das variáveis:
(a) Estado civil.
(b) Região de procedência.
(c) Número de filhos dos empregados casados.
(d) Idade.

In [124]:
tabela21.rename(columns=tabela21.iloc[0],inplace=True)
tabela21.drop(tabela21.index[0], inplace=True)
tabela21 = tabela21.head().reset_index(drop=True)

In [134]:
tabela21.head()

,N,Estado Civil,Grau de Instrução,N de Filhos,Salario (x Sal Min),Anos,Meses,Região de Procedência
0,1,solteiro,ensino fundamental,NaN,4,26,3,interior
1,2,casado,ensino fundamental,1,4.56,32,10,capital
2,3,casado,ensino fundamental,2,5.25,36,5,capital
3,4,solteiro,ensino médio,NaN,5.73,20,10,outra
4,5,solteiro,ensino fundamental,NaN,6.26,40,7,outra

In [135]:
tabela_frequencia(tabela21, 'Região de Procedência')

          Frequência Absoluta  Frequência Relativa
capital                     2                 40.0
outra                       2                 40.0
interior                    1                 20.0

##### Estado Civil

In [ ]:
tabela_frequencia(tabela21, 'Estado Civil')

          Frequência Absoluta  Frequência Relativa
casado                     20                55.56
solteiro                   16                44.44

##### Região de Procedência

In [ ]:
tabela_frequencia(tabela21, 'Região de Procedência')

          Frequência Absoluta  Frequência Relativa
outra                      13                36.11
interior                   12                33.33
capital                    11                30.56

##### Número de filho dos empregados

In [ ]:
print(tabela21['N de Filhos'].min())
print(tabela21['N de Filhos'].max())

0
5

In [ ]:
classes = [0, 2, 4, 5]

In [ ]:
labels = ['0 a 2', '3 a 4', '5 ou mais']

In [ ]:
frqeuencia = pd.value_counts(pd.cut(x=tabela21['N de Filhos'], bins=classes, labels=labels, include_lowest=True))
percentual = pd.value_counts(pd.cut(x = tabela21['N de Filhos'],bins = classes, labels = labels,include_lowest = True), normalize = True)*100
percentual

# terminar a tabela de frequencia para valores quantitativos e inserir na função
# função de deve criar tabela conforme tipo da coluna
# lembrando que pode existir qualitavas ordenadinais
# criar argumento ordinal (sim ou não) para identificar e tabel apropriada

0 a 2        88.888889
3 a 4         8.333333
5 ou mais     2.777778
Name: N de Filhos, dtype: float64

#### 3. Para o conjunto Dados 1(CD-Brasil), construir distribuição de frequências para população urbana e densidade populacional.

In [263]:
CDBrasil.rename(columns=CDBrasil.iloc[3],inplace=True)
CDBrasil.drop(CDBrasil.index[0:4], inplace=True)
CDBrasil = CDBrasil.reset_index(drop=True)
CDBrasil.columns.values[0] = 'Região'
CDBrasil.columns.values[1] = 'Estado'
CDBrasil['Região'] = CDBrasil['Região'].astype(str)

In [264]:
# preencher valores vazios com o valor da célula acima
for i in range(0, len(CDBrasil)):
    if CDBrasil.iloc[i,0] == 'nan':
        CDBrasil.iloc[i,0] = CDBrasil.iloc[i-1,0]
    else:
        continue

In [266]:
tabela_frequencia(CDBrasil, 'Região')

              Frequência Absoluta  Frequência Relativa
Nordeste                       10                30.30
Norte                           8                24.24
Sudeste                         5                15.15
Centro-Oeste                    5                15.15
Sul                             4                12.12
Brasil                          1                 3.03