### Capítulo 2

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

#### 2. Usando os dados da Tabela 2.1, construa a distribuição de freqüências das variáveis:
(a) Estado civil.
(b) Região de procedência.
(c) Número de filhos dos empregados casados.
(d) Idade.

In [38]:
tabela21 = pd.read_excel('dados/Dados_EB.xls', sheet_name='Tabela 2.1')

In [ ]:
# criar função que gera tabela de distribuição de frequências
def tabela_frequencia(tabela, coluna, intervalo): #alguma coisa assim? 
    # usar link de referência nos favoritos

In [39]:
tabela21.columns = tabela21.iloc[0]
tabela21 = tabela21.drop(tabela21.index[0])
tabela21.fillna(0, inplace=True)

##### Estado Civil

In [92]:
estado_civil = tabela21.groupby(['Estado Civil'])[['Estado Civil']].count()
estado_civil.columns = ['Frequência']
estado_civil.reset_index(inplace=True)
estado_civil['Proporção'] = round(estado_civil['Frequência'] / estado_civil['Frequência'].sum(), 2)
estado_civil['Percentual'] = round(estado_civil['Proporção'] * 100, 2)
estado_civil = estado_civil.append({'Estado Civil': 'Total', 'Frequência': estado_civil['Frequência'].sum(), 'Proporção': estado_civil['Proporção'].sum(), 'Percentual': estado_civil['Percentual'].sum()}, ignore_index=True)
estado_civil

  Estado Civil  Frequência  Proporção  Percentual
0       casado          20       0.56        56.0
1     solteiro          16       0.44        44.0
2        Total          36       1.00       100.0

##### Região de Procedência

In [93]:
regiao = tabela21.groupby(['Região de Procedência'])[['Região de Procedência']].count()
regiao.columns = ['Frequência']
regiao.reset_index(inplace=True)
regiao['Proporção'] = round(regiao['Frequência'] / regiao['Frequência'].sum(), 2)
regiao['Percentual'] = round(regiao['Proporção'] * 100, 2)
regiao = regiao.append({'Região de Procedência': 'Total', 'Frequência': regiao['Frequência'].sum(), 'Proporção': regiao['Proporção'].sum(), 'Percentual': regiao['Percentual'].sum()}, ignore_index=True)
regiao

  Região de Procedência  Frequência  Proporção  Percentual
0               capital          11       0.31        31.0
1              interior          12       0.33        33.0
2                 outra          13       0.36        36.0
3                 Total          36       1.00       100.0

##### Número de filho dos empregados

In [ ]:
filhos = tabela21.groupby(['Região de Procedência'])[['Região de Procedência']].count()
regiao.columns = ['Frequência']
regiao.reset_index(inplace=True)
regiao['Proporção'] = round(regiao['Frequência'] / regiao['Frequência'].sum(), 2)
regiao['Percentual'] = round(regiao['Proporção'] * 100, 2)
regiao = regiao.append({'Região de Procedência': 'Total', 'Frequência': regiao['Frequência'].sum(), 'Proporção': regiao['Proporção'].sum(), 'Percentual': regiao['Percentual'].sum()}, ignore_index=True)
regiao

  Região de Procedência  Frequência  Proporção  Percentual
0               capital          11       0.31        31.0
1              interior          12       0.33        33.0
2                 outra          13       0.36        36.0
3                 Total          36       1.00       100.0